:root {
    --bg-color: rgb(44, 28, 34);      
    --card-bg: rgb(215, 196, 182);   
    --text-color: rgb(44, 28, 34);    
    --accent-color: #ffffff;         
    --border-size: 3px;
    --shadow-offset: 6px;
    --border-color: #000000;        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Black', sans-serif;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--card-bg); 
}

.app-container {
    width: 100%;
    max-width: 400px; 
    height: 90vh;
    background: var(--bg-color);
    color: var(--text-color);
    border: var(--border-size) solid var(--border-color);
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px var(--border-color);
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.app-container::-webkit-scrollbar {
    display: none;
}


.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--card-bg); 
    color: var(--text-color);
    padding: 15px;
    border-bottom: var(--border-size) solid var(--border-color);
    z-index: 1000;
}

.back-btn {
    position: fixed;
    top: 7%;
    left: 10px;
    padding: 10px 15px;
    background: var(--card-bg);
    border: var(--border-size) solid var(--border-color);
    box-shadow: 4px 4px 0px var(--border-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
    z-index: 1001;
}

.back-btn:active, .mood-btn:active {
    box-shadow: 0px 0px 0px var(--border-color);
    transform: translate(4px, 4px);
}


.overlay {
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 90vh;
    background: var(--bg-color);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border-size) solid var(--border-color);
    padding: 20px;
    text-align: center;
}

.mood-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
}

.mood-btn {
    padding: 15px;
    background: var(--card-bg);
    border: var(--border-size) solid var(--border-color);
    box-shadow: 4px 4px 0px var(--border-color);
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.1s;
}

.music-card {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
    background: #000;
}

.cover-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(20%) contrast(110%); 
}

.musicposter {
    position: relative;
    left: 10%;
    margin-top: 20%;
    border: var(--border-size) solid var(--border-color);
    border-radius: 0px; 
    box-shadow: var(--card-bg) 5px 5px 0px;
    width: 80%;
    height: 45%;
    object-fit: cover;
}

.song-info {
    position: absolute;
    bottom: 40px;
    left: 15px;
    right: 15px;
    background: var(--card-bg);
    border: var(--border-size) solid var(--border-color);
    padding: 20px;
    box-shadow: 8px 8px 0px var(--border-color);
    color: var(--text-color);
}

.feed-wrapper {
    margin-top: 15%;
    color: var(--card-bg);
    text-align: center;
}
.arrow{
    background:url("https://sharmapushkar2006.github.io/VibeMusic/assets/images/toolkit/arrow.jpg");
    background-size:cover;
    border-radius:50%;
    width:90px;
    height:90px;
}
.hidden {
    display: none !important;
}
